
/bin/
/out/
/production/
/target/
/null/
/__pycache__/

../bin/
../out/
../production/
../target/
../null/
../__pycache__/

bin/
out/
production/
target/
null/
__pycache__/

*.class
*.cache
*.exe
*.zip
*.rar
*.pyc